<!DOCTYPE html>
<html ng-app="othelloApp">
<head>
	<title>Facebook Login JavaScript Example</title>
	<meta charset="UTF-8">

	<link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="bootstrap/fonts/glyphicons-halflings-regular.woff">
	<link rel="stylesheet" href="angular-hamburger-toggle/dist/angular-hamburger-toggle.css">

	<link rel="stylesheet" href="styles/sidebar.css">
	<link rel="stylesheet" href="styles/othello.css">

	<script src="angular/angular.js"></script>
	<script src="angular-route/angular-route.js"></script>
	<script src="angular-hamburger-toggle/dist/angular-hamburger-toggle.js"></script>
	<script src="pixi.js/bin/pixi.js"></script>

	<script src="scripts/bundle.js"></script>

</head>
<body ng-controller="mainController as mc">
	<sidebar></sidebar>
	<pixi></pixi>

	<button ng-if="mc.loggedIn == false" ng-click="mc.login();">Login</button>
	<button id="refresh-button" ng-click="mc.refresh();" class="btn btn-default btn-lg" aria-hidden="true">
		<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
	</button>

</body>
</html>