
<div ng-controller="sidebarController as sbc">

<hamburger-toggle ng-click="sbc.update();" id="hamburger-button" ng-if="mc.loggedIn == true" state="sbc.open"></hamburger-toggle>

<div class="sidenav" ng-class="{open: sbc.open}">
	<ul class="nav nav-pills nav-stacked">
		<li role="presentation" class="active"><a href="#">Home</a></li>
		<li role="presentation"><a href ng-click="mc.checkLoginState()">Check Status</a></li>
		<li role="presentation"><a href ng-click="mc.logout()">Logout</a></li>

		<li role="presentation" ng-class="{ 'active': !matchesHidden }">
			<a href ng-click="matchesHidden=!matchesHidden">Games
				<div ng-click="matchesHidden = !matchesHidden" style=";" ng-class="{ 'rotated-arrow': matchesHidden, 'non-rotated-arrow': !matchesHidden }">
					<span class="glyphicon glyphicon-menu-down"></span>
				</div>
			</a>
		</li>
		<li ng-if="!matchesHidden" ng-repeat="match in sbc.matches | orderBy : '-currentTurn'">
			<a href ng-click="sbc.clickedMatch(match);">
				<img ng-src="{{ match.opponent.imgSmall }}" width="40" height="40" alt="IMG" class="small-profile-image">
				<span ng-bind="match.opponent.name"></span>
				<span class="pull-right" ng-class="{ 'glyphicon glyphicon-exclamation-sign' : match.currentTurn }" ></span>
			</a>
		</li>

		<li role="presentation" ng-class="{ 'active': !usersHidden }">
			<a href ng-click="usersHidden=!usersHidden">Users
				<div ng-click="usersHidden = !usersHidden" style=";" ng-class="{ 'rotated-arrow' : usersHidden, 'non-rotated-arrow' : !usersHidden }">
					<span class="glyphicon glyphicon-menu-down"></span>
				</div>
			</a>
		</li>
		<li ng-if="!usersHidden" ng-repeat="user in sbc.users | orderBy:'friend'">
			<a href >
				<img class="small-profile-image" ng-src="https://graph.facebook.com/{{ user.fbid }}/picture?type=small" width="40" height="40" alt="IMG">
				<span ng-bind="user.name"></span>
				<span class="pull-right" ng-class="{ 'glyphicon glyphicon-user' : user.friend }" ></span>
			</a>
		</li>
	</ul>
</div>

</div>