
.material-design-hamburger {
  margin-top: 4px;
  margin-left: -36px;
}

.sidenav {
  width: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  left: 0;
  top: 36px;
  bottom: 0;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
   box-shadow: 0 8px 17px rgba(0,0,0,.2);
  -webkit-box-shadow: 0 8px 17px rgba(0,0,0,.2);
  background: #fff;
  z-index: 10;
}

.sidenav.open {
  width: 300px;
}

.rotated-arrow {
  -webkit-transform: rotate(-90deg);
}
.non-rotated-arrow {
  -webkit-transform: rotate(0deg);
}
.rotated-arrow, .non-rotated-arrow {
  /*width:10px;*/
  display: inline-block;
  -webkit-transition: 300ms ease all;
  -moz-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  transition: 300ms ease all;
}

.small-profile-image {
  border-radius: 50%;
  margin-right: 4px;
}

